@use "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
}

.columnat {
  width: 100%;
  max-width: calc(100% - 32px);
  @media screen and (min-wdth: variables.$tall1) {
    max-width: 1240px;
  }
}

// Estilos de las clases escalables .e0 a .e6

.e0,
.e1,
.e2,
.e3,
.e4,
.e5,
.e6 {
  font-family: "Cairo", sans-serif;
}

.e0 {
  font-size: clamp(45px, 8vw, 100px);
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 80%;
}
.e1 {
  font-size: clamp(45px, 10vw, 180px);
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 80%;
}

.e2 {
  font-size: 28px;
  @media screen and (min-width: variables.$tall1) {
    font-size: 36px;
  }
  @media screen and (min-width: variables.$tall2) {
    font-size: 48px;
  }
  @media screen and (min-width: variables.$tall3) {
    font-size: 64px;
  }
  @media screen and (min-width: variables.$tall4) {
    font-size: 96px;
  }
}

.e3 {
  font-size: 24px;
  @media screen and (min-width: variables.$tall1) {
    font-size: 32px;
  }
  @media screen and (min-width: variables.$tall2) {
    font-size: 40px;
  }
  @media screen and (min-width: variables.$tall3) {
    font-size: 48px;
  }
  @media screen and (min-width: variables.$tall4) {
    font-size: 64px;
  }
}

.e4 {
  font-size: 20px;
  @media screen and (min-width: variables.$tall1) {
    font-size: 28px;
  }
  @media screen and (min-width: variables.$tall2) {
    font-size: 32px;
  }
  @media screen and (min-width: variables.$tall3) {
    font-size: 40px;
  }
  @media screen and (min-width: variables.$tall4) {
    font-size: 48px;
  }
}

.e5 {
  font-size: 16px;
  @media screen and (min-width: variables.$tall1) {
    font-size: 20px;
  }
  @media screen and (min-width: variables.$tall2) {
    font-size: 24px;
  }
  @media screen and (min-width: variables.$tall3) {
    font-size: 28px;
  }
  @media screen and (min-width: variables.$tall4) {
    font-size: 32px;
  }
}

.e6 {
  font-size: 14px;
  @media screen and (min-width: variables.$tall1) {
    font-size: 16px;
  }
  @media screen and (min-width: variables.$tall2) {
    font-size: 18px;
  }
  @media screen and (min-width: variables.$tall3) {
    font-size: 20px;
  }
  @media screen and (min-width: variables.$tall4) {
    font-size: 24px;
  }
}

.leaflet-bottom.leaflet-right,
.leaflet-top.leaflet-left {
  display: none;
}
.leaflet-popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaflet-popup-tip {
  display: none;
}
.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 27px;
  height: 43px;
}
.link-google-optica {
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: variables.$carbo-clar !important;
}
.swiper-pagination-bullet-active {
  background: variables.$carbo-fosc !important;
}
