// COLORS

$turquesa: #afe3d7;
$groc: #fbdb5d;
$rosa: #afe3d7;
$gris: #e5e7eb;
$turquesaFosc: #0f766e;
$rosaFosc: #411418;
$marro: #422006;
$grisFosc: #2b2b2b;

$tall1: 480px;
$tall2: 768px;
$tall3: 1024px;
$tall4: 1280px

