@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    transition: all 0.4s ease-out
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

//transition efect on scroll

.animate-slideRight {
  animation: slideRight 2s ease-out;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

/* @media only screen and (max-width: 1024px){
  .customMask{
    mask-image: linear-gradient(
      #cbd9c7 90%,
      transparent
    );
  }
} */
.customMaskTwo {
  mask-image: linear-gradient(
    rgb(226 232 240) 80%,
    transparent
  )
}
