<div class="container">
  <h1>Página en Construcción</h1>

  <div class="image-container">
    <img src="/img/construccion.jpg" alt="Web en construcción" />
  </div>

  <div class="contact-info">
    <p>Nos vemos pronto con algo increíble !</p>

    <!-- Redes Sociales -->
    <div class="social-icons">
      <a
        href="https://api.whatsapp.com/send?phone=+34682502960&text=Hola!%20Quer%C3%ADa%20informaci%C3%B3n%20sobre:"
        target="_blank">click whatsapp</a
      >
      <a href="https://www.instagram.com/optica_guinart/" target="_blank"
        >click instagram</a
      >
    </div>

    <!-- Información de contacto -->
    <div class="info">
      <p>
        <strong>Dirección:</strong><a
          href="https://www.google.com/maps/dir//C%2F+Gran+de+Sant+Andreu,+308,+Sant+Andreu,+08030+Barcelona/@41.4370855,2.1072775,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x12a4bcdc240241cf:0xa4b5922d46c1e48d!2m2!1d2.1896783!2d41.4371149?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D
"
          >Carrer Gran de Sant Andreu 308</a
        >
      </p>
      <p><strong>Teléfono Fijo:</strong> 93 311 87 06</p>
      <p><strong>Teléfono Móvil:</strong> +34 682 50 29 60</p>
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .contact-info {
    font-size: 16px;
    color: #555;
  }

  .social-icons {
    margin: 20px 0;
  }

  .social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin: 0 10px;
  }

  .social-icons a:hover {
    color: #3498db;
  }

  .info p {
    margin: 5px 0;
  }
</style>
