---

---

<section class="header">HEADER</section>

<style lang="scss">
  @use "../styles/variables.scss";

  .header {
    width: 100vw;
    background-color: antiquewhite;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
</style>
