---
import "swiper/swiper-bundle.css";
---

<section id="portada">
  <div class="titol-principal">
    <h1 class="e0">
      <span>ÒPTICA</span>
      <span>GUINART</span>
    </h1>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="promocio e2" data-swiper-parallax="-100">
          Duplica els teus progresius sense cost adicional!
        </p>
        <p class="promocio e2" data-swiper-parallax="-150">
          Progresius d'alta gama
        </p>
        <span class="numeros e1">2x1</span>
      </div>
      <div class="swiper-slide">
        <p class="promocio e2" data-swiper-parallax="-50">Sense compromisos!</p>
        <p class="promocio e2" data-swiper-parallax="-70">
          Primer mes de lents de contacte
        </p>
        <p class="gratis e1">GRATIS</p>
        <p class="e6" data-swiper-parallax="-70">
          Lents de contacte diaries desde menys de 1€ al dia!
        </p>
      </div>
      <div class="swiper-slide">
        <p class="promocio e2" data-swiper-parallax="-80">Montura</p>
        <span class="promocio e1" data-swiper-parallax="-40">+</span>
        <p class="promocio e2" data-swiper-parallax="-80">
          Lents antireflexants
        </p>
        <span class="numeros e1">75€</span>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<style lang="scss">
  @use "../styles/variables.scss";
  @use "../styles/common.scss";

  #portada {
    width: 100%;
    height: 100dvh;
    background-color: variables.$crema-clar;
    display: flex;
    flex-direction: column;
    align-items: center;
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-wrapper {
        height: 100%;
      }
      .swiper-slide {
        background: linear-gradient(
          to bottom,
          variables.$crema-clar,
          variables.$daurat-clar
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        p {
          @extend .columnat;
          color: variables.$carbo-fosc;
          &.e6 {
            margin-top: 20px;
          }
        }
      }
    }
    .titol-principal {
      height: 100%;
      max-height: 323px;
      width: 100%;
      position: relative;
      color: variables.$carbo-fosc;
      overflow-x: hidden;
      h1 {
        span {
          position: absolute;
          transform: translate(-50%, -50%);
          &:nth-child(1) {
            left: calc(50% - 50px);
            top: calc(50% - 30px);
            animation: leftToRight 1s ease-in-out;
            @media screen and (min-width: variables.$tall1) {
              top: calc(50% - 40px);
            }
            @media screen and (min-width: variables.$tall2) {
              top: calc(50% - 50px);
            }
          }

          &:nth-child(2) {
            left: calc(50% + 50px);
            top: calc(50% + 30px);
            animation: rightToLeft 1s ease-in-out;
            @media screen and (min-width: variables.$tall1) {
              top: calc(50% + 40px);
            }
            @media screen and (min-width: variables.$tall2) {
              top: calc(50% + 50px);
            }
          }
        }
      }
    }
  }
  @keyframes leftToRight {
    0% {
      left: -50%;
    }
    100% {
      left: calc(50% - 50px);
    }
  }
  @keyframes rightToLeft {
    0% {
      left: 150%;
    }
    100% {
      left: calc(50% + 50px);
    }
  }
</style>
