---

---

<section class="serveis">
  <h2 class="serveis__title">Els nostres serveis</h2>
  <p class="serveis__description">
    Oferim una àmplia gamma de serveis per garantir la salut visual i auditiva
    dels nostres clients.
  </p>

  <div class="serveis__cards">
    <div class="card">
      <img src="/img/optometria.webp" alt="Icona d'optometria" />
      <h3>Optometria</h3>
      <p>Graduació visual per assegurar una visió clara i precisa.</p>
      <p class="llegir-mes">Llegir més...</p>
      <div class="extra-info">
        <span class="close">×</span>
        <h2 class="e4">Optometria i Revisió de la Vista Ocular</h2>
        <p class="e6">
          Realitzem revisions oculars amb les màquines més avançades, utilitzant
          sensors òptics de última generació per un diagnòstic precís i ràpid.
        </p>
        <ul class="e5">
          <li>Revisió de la visió binocular</li>
          <li>Mesura de la refracció per a ulleres o lents de contacte</li>
          <li>Anàlisi de la salut ocular</li>
        </ul>
        <cite class="e6">La teva salut ocular, la nostra prioritat.</cite>
      </div>
    </div>

    <div class="card">
      <img src="/img/tensio-ocular.webp" alt="Icona de tensió ocular" />
      <h3>Tensió Ocular i Audiologia</h3>
      <p>Mesura de la tensió ocular i serveis d’audiologia avançada.</p>
      <p class="llegir-mes">Llegir més...</p>
      <div class="extra-info">
        <span class="close">×</span>
        <h2 class="e4">Tensió Ocular i Audiologia</h2>
        <p class="e6">
          Mesurem la teva tensió ocular amb tecnologia avançada i oferim
          revisions auditives en una cabina insonoritzada per a un diagnòstic
          perfecte.
        </p>
        <ul class="e5">
          <li>Mesura de la tensió ocular</li>
          <li>Proves auditives detallades</li>
          <li>Revisió de l'oïda i assessorament</li>
        </ul>
        <cite class="e6"
          >Els nostres serveis per al teu benestar visual i auditiu.</cite
        >
      </div>
    </div>

    <div class="card">
      <img src="/img/lentologia.webp" alt="Icona de lentologia" />
      <h3>Contactologia</h3>
      <p>
        Adaptació personalitzada de lents de contacte per a totes les edats.
      </p>
      <p class="llegir-mes">Llegir més...</p>
      <div class="extra-info">
        <span class="close">×</span>
        <h2 class="e4">Lents de Contacte</h2>
        <p class="e6">
          Especialitzats en lents de gel hydrogel i cosmètiques per a una
          comoditat superior i estètica personalitzada.
        </p>
        <ul class="e5">
          <li>Lents de gel hydrogel per a màxima comoditat</li>
          <li>Lents cosmètiques per canviar el color dels teus ulls</li>
          <li>Lents d'ús diari, setmanal i mensual</li>
        </ul>
        <cite class="e6">La millor solució per a la teva visió i estètica.</cite
        >
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/variables.scss";

  .serveis {
    background-color: #f4f4f4;
    padding: 3rem 1rem;
    text-align: center;

    &__title {
      font-size: 2.5rem;
      color: variables.$carbo-fosc;
      margin-bottom: 0.5rem;
    }

    &__description {
      font-size: 1.2rem;
      color: variables.$carbo-clar;
      margin-bottom: 2rem;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      margin-top: 2rem;

      .card {
        background-color: variables.$gris;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        text-align: center;
        transition:
          transform 0.3s,
          box-shadow 0.3s;
        position: relative;
        overflow: hidden;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }

        img {
          width: 100%;
          max-width: 400px;
          height: auto;
          margin-bottom: 1rem;
          mix-blend-mode: multiply;
          border-radius: 4px;
        }

        h3 {
          font-size: 1.5rem;
          color: variables.$carbo-fosc;
          margin-bottom: 0.5rem;
        }

        p:first-of-type {
          font-size: 1rem;
          color: #666;
        }
        .llegir-mes {
          font-size: 0.8rem;
          color: variables.$carbo-fosc;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .extra-info {
    display: block;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
    background-color: variables.$crema-fosc;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: #666;
    transition:
      max-height 0.3s ease,
      height 0.3s ease,
      padding 0.3s ease;

    &.open {
      max-height: 500px;
      padding: 20px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #333;
      cursor: pointer;
    }

    .close:hover {
      color: red;
    }
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-block: 20px;
    }
    cite {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    ul li {
      margin-block: 10px;
    }
  }
</style>

<script>
  document.querySelectorAll(".card").forEach((card) => {
    card.addEventListener("click", function () {
      const extraInfo = this.querySelector(".extra-info");
      extraInfo.classList.toggle("open");
    });
  });

  document.querySelectorAll(".close").forEach((closeBtn) => {
    closeBtn.addEventListener("click", function (e) {
      e.stopPropagation();
      const extraInfo = this.closest(".card").querySelector(".extra-info");
      extraInfo.classList.remove("open");
    });
  });
</script>
