---
import Construccion from "../components/Construccion.astro";

// Determinar si estamos en producción
const isProduction = import.meta.env.MODE === "production";

// Determinar si la URL es localhost
const isLocalhost = new URL(Astro.request.url).hostname === "localhost";

// Lógica condicional para determinar qué contenido mostrar
let content;

if (isProduction) {
  content = <Construccion />;
} else if (isLocalhost) {
  content = <h1>Ready - Trabajando en Localhost</h1>;
} else {
  content = <h1>Bienvenido a nuestra página en producción</h1>; // Esto es opcional
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/reset.css" />
    <title>Optica Guinart</title>
  </head>
  <body>
    {content} <!-- Aquí se renderiza el contenido basado en la lógica -->
  </body>
</html>
